* {
  all: unset;
  color: #ffffff;
  background-color: transparent;
}

.power-menu {
  background-color: rgba(97, 2, 250, 0.5);
  color: #7d7c7c;
  border-radius: 20px;
}

.powerButton {
  font-size: 100px;
}
